@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

/* Global Styles */
body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #212529;
    display: flex; /* Flex container for the body */
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Ensure full viewport height */
}

.section {
    margin: 60px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%; 
    color: #00409C; 
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 10px; 
    background: transparent; 
    position: static; 
    top: 0;
    left: 0;
    z-index: 1000; 
}

.background {
    background-image: url(assets/ValueCycle\ Header.png );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Logo Styling */
.navbar .logo img {
    height: 40px;
    width: auto;
    margin-left: 100px;
}


/* Navigation Links Styling */
.navbar .nav-links {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.navbar .nav-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px; 
}

.navbar a {
    position: relative;
    padding: 0.5em 1em;
    color: #00409C; 
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #00409C; 
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    font-weight: bolder;
}

.navbar .nav-links li {
    display: flex;
    align-items: center;
}


.navbar a.login-button {
    background: #00409C;
    color: white;
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease;
}

.navbar a.login-button:hover {
    background: #035992;
}

.navbar .hamburger {
    display: none;
    position: relative; 
    background: transparent; 
    border: none;
    cursor: pointer;
    z-index: 10;
}

.navbar .hamburger .icon {
    width: 30px;
    height: 30px;
    background: transparent; 
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar .hamburger .icon::before,
.navbar .hamburger .icon::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: black;
    border-radius: 3px;
}


/* Responsive Styles */
@media screen and (max-width: 860px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
        padding: 10px; 
        position: relative; 
    }

    .navbar .nav-links ul {
        flex-direction: column;
        display: none;
        width: 100%;
        padding: 0;
        background-color: white;
        gap: 0; 
    }

    .navbar .nav-links li {
        width: 100%;
    }

    .navbar .nav-links a.contact {
        margin: 0;
    }

    .navbar .nav-links a {
        display: block;
        padding: 15px;
        color: #00409C; 
        background-color: white;
        border-bottom: 1px solid #e9ecef;
        text-decoration: none;
    }

    .navbar .nav-links a.login-button {
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #00409C;
        border-radius: 0;
        color: white;
    }

    .navbar .nav-links a.login-button:hover {
        background-color: #007ACC;
    }

    .navbar .nav-links a::after {
        display: none;
    }

    .navbar .nav-links a:hover {
        background-color: #f1f1f1;
    }

    .navbar .login-button {
        display: none;
    }

    .navbar.open .nav-links ul {
        display: flex;
    }

    .navbar .hamburger {
        display: block;
    }

    .navbar .hamburger .icon-open {
        display: block;
    }

    .navbar .hamburger .icon-close {
        display: none;
    }

    .navbar.open .hamburger .icon-open {
        display: none;
    }

    .navbar.open .hamburger .icon-close {
        display: block;
    }
}

.header-container {
    text-align: center;
    padding: 20px;
    height: 700px;
    color: #ffffff;
    display: flex; /* Flex container for header content */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    margin-top: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.header-text {
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Center horizontally */
    z-index: 1;
}

.header-text h1 {
    font-size: 3.5em;
    font-weight: 600;
    color: #00409c;
    margin-bottom: 10px;

}

.header-text p {
    font-size: 1em;
    margin: 0 auto;
    max-width: 100%; /* Ensure text doesn't overflow */
    padding-bottom: 40px;
    color: #00409c;
    font-weight: 500;
}

@media (max-width: 768px) {
    .header-text h1 {
        font-size: 2.5em; /* Adjust font size for smaller screens */
    }
}


/* Quote Section Styles */
.quote-section {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.quote-lines {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #00409C; 
    margin: 20px 0; 
}

.quote-text {
    font-size: 1.5em; 
    font-style: none; 
    color: #0094f9; 
    margin: 0;
    padding: 0 10px; 
    position: relative;
}

.quote-text::before,
.quote-text::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00409C;
    top: -20px; 
    left: 0;
}

.quote-text::after {
    top: auto;
    bottom: -20px;
}
/* Why Choose Us Section Styles */
.why-choose-us {
    background-color: #ffffff;
    text-align: left;
    margin: 20px;
    margin-right: 60px;
}

.why-choose-us .reasons {
    color: #00409c;
}

h2 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 40px;
}

.reasons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

.reason {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.number-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00409c;
    color: #0094f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
    flex-shrink: 0;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 1200px) {
    .number-circle {
        width: 70px;
        height: 70px;
        font-size: 1.8em;
    }
}

@media (max-width: 768px) {
    .number-circle {
        width: 60px;
        height: 60px;
        font-size: 1.5em;
    }

    .reasons {
        padding: 20px; /* Adjust padding for smaller screens */
    }

    h2 {
        font-size: 1.8em; /* Adjust heading size for smaller screens */
        margin-left: 20px; /* Adjust margin for smaller screens */
    }
}

@media (max-width: 480px) {
    .number-circle {
        width: 50px;
        height: 50px;
        font-size: 1.2em;
    }
}

h2 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 30px;
    margin-left: 40px;
}

p {
    margin: 40px;
}

.reasons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
}

.reason {
    display: flex;
    align-items: center; 
    padding-left: 20px; 
    gap: 20px; 
}

.number-circle {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    background-color: #00409C;
    color: #0094f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    font-weight: bold;
    margin-right: 20px;
    flex-shrink: 0; 
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 1200px) {
    .number-circle {
        width: 70px; 
        height: 70px;
        font-size: 1.8em; 
    }
}

@media (max-width: 768px) {
    .number-circle {
        width: 60px; 
        height: 60px; 
        font-size: 1.5em; 
    }
}

@media (max-width: 480px) {
    .number-circle {
        width: 50px; 
        height: 50px; 
        font-size: 1.2em; 
    }
}

.reason p {
    font-size: 1.2em;
    margin: 0;
    color: #212529;
}

/* Half and Half Section Styles */
.half-and-half {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #ffffff;
    gap: 20px; 
    position: relative;
    overflow: hidden; 
}

.image-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    margin-left: -20%; 
    padding-left: 20%; 
    padding-top: 60px;
    padding-bottom: 60px;
    transition: box-shadow 0.3s ease; 
}

.image-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block;
    border-radius: 20px; 
    margin-left: 0; 
}

.text-container {
    flex: 1;
    padding: 20px;
    background-color: white;
  
}

.text-container h2 {
    font-size: 2em;
    color: #00409C;
    margin-bottom: 20px;
}

.checklist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.checklist li {
    position: relative;
    padding-left: 40px;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #212529;
    display: flex;
    align-items: center; 
}

.checkmark {
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
    width: 25px; 
    height: 25px; 
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00409C;
    font-size: 1.2em; 
    font-weight: bold;
}

.checkmark::before {
    content: '\2713'; 
    font-size: 1.2em; 
}

.arrow-text-section {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
    flex-wrap: wrap; 
}

.arrow-container {
    flex: 0 0 40%; 
    max-width: 40%; 
    margin-right: 10px; 
}

.arrow-container img {
    width: 100%; 
    height: auto;
}

.text-box h2 {
    padding-bottom: 10px;
}

.text-box {
    font-size: large;
    flex: 0.8; 
    max-width: 60%; 
    background: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 150px;
    padding: 45px; 
    overflow: auto;
}

.text-box * {
    margin: 0; 
    padding: 0; 
}

.text-box p {
    margin-bottom: 1em; 
}

/* Media query for screen sizes 1000px or smaller */
@media (max-width: 1000px) {
    .arrow-container {
        display: none; 
    }

    .text-box {
        flex: 1; 
        max-width: 100%; 
        margin-left: 0; 
    }
}



/* Responsive Design */
@media (max-width: 768px) {
    .half-and-half {
        flex-direction: column;
    }

    .image-container {
        margin-left: 0; 
        padding-left: 0; 
    }

    .image-container img {
        margin-left: 0; 
    }

    .image-container {
        margin-bottom: 20px; 
    }
}

.banner-section {
    background-color: rgba(0, 148, 249, 0.24); 
    color: #00409C; 
    padding: 60px; 
    margin: 20px 0 100px 0px;
    font-family: 'inter', sans-serif; 
    font-size: 2em; 
    font-weight: 300;
    line-height: 1.5; 
    text-align: center; 
}

.banner-section p {
    margin: 20px; 
}


/* Mary Infographic Section */
.mary-infographic {
    background-color: #ffffff; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

/* Adjustments for the Mary Image */
.mary-image {
    max-width: 100%; 
    height: auto; 
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .mary-infographic {
        padding: 10px; 
    }

    .mary-image {
        max-width: 90%; 
    }
}

/* Footer Styles */
footer a {
    color:#e9ecef;
}
footer p {
    padding-top: 0px;
}
footer {
    text-align: center;
    padding: 40px;
    background-color: #00409C;
    color:#e9ecef;
    border-top: 1px solid #e9ecef;
}

/*privacy policy*/
.privacy-policy {
    margin: 40px;
}

.privacy-policy h1{
    text-align: center;
}

.privacy-policy address {
    margin-left: 40px;
}

.privacy-policy h2 {
    margin: 0;
}

.privacy-policy ul {
   margin-left: 25px;
}

.privacy-policy p {
    color: #475467;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 0px;
}